:root {
  /* Typography Variables */
  --font-display-large-font-size: 60px;
  --font-display-large-text-decoration: none;
  --font-display-large-font-family: Emilys Candy;
  --font-display-large-font-weight: 400;
  --font-display-large-font-style: normal;
  --font-display-large-font-stretch: normal;
  --font-display-large-letter-spacing: 1.2px;
  --font-display-large-line-height: 90px;
  --font-display-large-paragraph-indent: 0;
  --font-display-large-paragraph-spacing: 6px;
  --font-display-large-text-case: none;
  --font-display-medium-font-size: 45px;
  --font-display-medium-text-decoration: none;
  --font-display-medium-font-family: Emilys Candy;
  --font-display-medium-font-weight: 400;
  --font-display-medium-font-style: normal;
  --font-display-medium-font-stretch: normal;
  --font-display-medium-letter-spacing: 0.9px;
  --font-display-medium-line-height: 67.5px;
  --font-display-medium-paragraph-indent: 0;
  --font-display-medium-paragraph-spacing: 6px;
  --font-display-medium-text-case: none;
  --font-display-small-font-size: 32px;
  --font-display-small-text-decoration: none;
  --font-display-small-font-family: Emilys Candy;
  --font-display-small-font-weight: 400;
  --font-display-small-font-style: normal;
  --font-display-small-font-stretch: normal;
  --font-display-small-letter-spacing: 0.64px;
  --font-display-small-line-height: 48px;
  --font-display-small-paragraph-indent: 0;
  --font-display-small-paragraph-spacing: 6px;
  --font-display-small-text-case: none;
  --font-headline-large-font-size: 32px;
  --font-headline-large-text-decoration: none;
  --font-headline-large-font-family: Urbanist;
  --font-headline-large-font-weight: 500;
  --font-headline-large-font-style: normal;
  --font-headline-large-font-stretch: normal;
  --font-headline-large-letter-spacing: 0.64px;
  --font-headline-large-line-height: 48px;
  --font-headline-large-paragraph-indent: 0;
  --font-headline-large-paragraph-spacing: 6px;
  --font-headline-large-text-case: none;
  --font-headline-medium-font-size: 28px;
  --font-headline-medium-text-decoration: none;
  --font-headline-medium-font-family: Urbanist;
  --font-headline-medium-font-weight: 500;
  --font-headline-medium-font-style: normal;
  --font-headline-medium-font-stretch: normal;
  --font-headline-medium-letter-spacing: 0.56px;
  --font-headline-medium-line-height: 42px;
  --font-headline-medium-paragraph-indent: 0;
  --font-headline-medium-paragraph-spacing: 6px;
  --font-headline-medium-text-case: none;
  --font-headline-small-font-size: 18px;
  --font-headline-small-text-decoration: none;
  --font-headline-small-font-family: Urbanist;
  --font-headline-small-font-weight: 500;
  --font-headline-small-font-style: normal;
  --font-headline-small-font-stretch: normal;
  --font-headline-small-letter-spacing: 0.36px;
  --font-headline-small-line-height: 27px;
  --font-headline-small-paragraph-indent: 0;
  --font-headline-small-paragraph-spacing: 6px;
  --font-headline-small-text-case: none;
  --font-title-large-font-size: 24px;
  --font-title-large-text-decoration: none;
  --font-title-large-font-family: Urbanist;
  --font-title-large-font-weight: 500;
  --font-title-large-font-style: normal;
  --font-title-large-font-stretch: normal;
  --font-title-large-letter-spacing: 0.48px;
  --font-title-large-line-height: 28.8px;
  --font-title-large-paragraph-indent: 0;
  --font-title-large-paragraph-spacing: 6px;
  --font-title-large-text-case: none;
  --font-title-medium-font-size: 18px;
  --font-title-medium-text-decoration: none;
  --font-title-medium-font-family: Urbanist;
  --font-title-medium-font-weight: 500;
  --font-title-medium-font-style: normal;
  --font-title-medium-font-stretch: normal;
  --font-title-medium-letter-spacing: 0.36px;
  --font-title-medium-line-height: 21.6px;
  --font-title-medium-paragraph-indent: 0;
  --font-title-medium-paragraph-spacing: 6px;
  --font-title-medium-text-case: none;
  --font-title-small-font-size: 16px;
  --font-title-small-text-decoration: none;
  --font-title-small-font-family: Urbanist;
  --font-title-small-font-weight: 500;
  --font-title-small-font-style: normal;
  --font-title-small-font-stretch: normal;
  --font-title-small-letter-spacing: 0.32px;
  --font-title-small-line-height: 19.2px;
  --font-title-small-paragraph-indent: 0;
  --font-title-small-paragraph-spacing: 6px;
  --font-title-small-text-case: none;
  --font-label-large-font-size: 18px;
  --font-label-large-text-decoration: none;
  --font-label-large-font-family: Urbanist;
  --font-label-large-font-weight: 500;
  --font-label-large-font-style: normal;
  --font-label-large-font-stretch: normal;
  --font-label-large-letter-spacing: 0.36px;
  --font-label-large-line-height: 21.6px;
  --font-label-large-paragraph-indent: 0;
  --font-label-large-paragraph-spacing: 6px;
  --font-label-large-text-case: none;
  --font-label-medium-font-size: 16px;
  --font-label-medium-text-decoration: none;
  --font-label-medium-font-family: Urbanist;
  --font-label-medium-font-weight: 500;
  --font-label-medium-font-style: normal;
  --font-label-medium-font-stretch: normal;
  --font-label-medium-letter-spacing: 0.32px;
  --font-label-medium-line-height: 19.2px;
  --font-label-medium-paragraph-indent: 0;
  --font-label-medium-paragraph-spacing: 6px;
  --font-label-medium-text-case: none;
  --font-label-small-font-size: 12px;
  --font-label-small-text-decoration: none;
  --font-label-small-font-family: Urbanist;
  --font-label-small-font-weight: 500;
  --font-label-small-font-style: normal;
  --font-label-small-font-stretch: normal;
  --font-label-small-letter-spacing: 0.24px;
  --font-label-small-line-height: 14.4px;
  --font-label-small-paragraph-indent: 0;
  --font-label-small-paragraph-spacing: 6px;
  --font-label-small-text-case: none;
  --font-body-large-font-size: 16px;
  --font-body-large-text-decoration: none;
  --font-body-large-font-family: Urbanist;
  --font-body-large-font-weight: 400;
  --font-body-large-font-style: normal;
  --font-body-large-font-stretch: normal;
  --font-body-large-letter-spacing: 0.32px;
  --font-body-large-line-height: 24px;
  --font-body-large-paragraph-indent: 0;
  --font-body-large-paragraph-spacing: 6px;
  --font-body-large-text-case: none;
  --font-body-medium-font-size: 14px;
  --font-body-medium-text-decoration: none;
  --font-body-medium-font-family: Urbanist;
  --font-body-medium-font-weight: 400;
  --font-body-medium-font-style: normal;
  --font-body-medium-font-stretch: normal;
  --font-body-medium-letter-spacing: 0.28px;
  --font-body-medium-line-height: 21px;
  --font-body-medium-paragraph-indent: 0;
  --font-body-medium-paragraph-spacing: 6px;
  --font-body-medium-text-case: none;
  --font-body-small-font-size: 12px;
  --font-body-small-text-decoration: none;
  --font-body-small-font-family: Urbanist;
  --font-body-small-font-weight: 400;
  --font-body-small-font-style: normal;
  --font-body-small-font-stretch: normal;
  --font-body-small-letter-spacing: 0.24px;
  --font-body-small-line-height: 18px;
  --font-body-small-paragraph-indent: 0;
  --font-body-small-paragraph-spacing: 6px;
  --font-body-small-text-case: none;
  --typography-display-large-font-size: 60px;
  --typography-display-large-text-decoration: none;
  --typography-display-large-font-family: Emilys Candy;
  --typography-display-large-font-weight: 400;
  --typography-display-large-font-style: normal;
  --typography-display-large-font-stretch: normal;
  --typography-display-large-letter-spacing: 1.2px;
  --typography-display-large-line-height: 90px;
  --typography-display-large-paragraph-indent: 0;
  --typography-display-large-paragraph-spacing: 6px;
  --typography-display-large-text-case: none;
  --typography-display-medium-font-size: 45px;
  --typography-display-medium-text-decoration: none;
  --typography-display-medium-font-family: Emilys Candy;
  --typography-display-medium-font-weight: 400;
  --typography-display-medium-font-style: normal;
  --typography-display-medium-font-stretch: normal;
  --typography-display-medium-letter-spacing: 0.9px;
  --typography-display-medium-line-height: 67.5px;
  --typography-display-medium-paragraph-indent: 0;
  --typography-display-medium-paragraph-spacing: 6px;
  --typography-display-medium-text-case: none;
  --typography-display-small-font-size: 32px;
  --typography-display-small-text-decoration: none;
  --typography-display-small-font-family: Emilys Candy;
  --typography-display-small-font-weight: 400;
  --typography-display-small-font-style: normal;
  --typography-display-small-font-stretch: normal;
  --typography-display-small-letter-spacing: 0.64px;
  --typography-display-small-line-height: 48px;
  --typography-display-small-paragraph-indent: 0;
  --typography-display-small-paragraph-spacing: 6px;
  --typography-display-small-text-case: none;
  --typography-headline-large-font-size: 32px;
  --typography-headline-large-text-decoration: none;
  --typography-headline-large-font-family: Urbanist;
  --typography-headline-large-font-weight: 500;
  --typography-headline-large-font-style: normal;
  --typography-headline-large-font-stretch: normal;
  --typography-headline-large-letter-spacing: 0.64px;
  --typography-headline-large-line-height: 48px;
  --typography-headline-large-paragraph-indent: 0;
  --typography-headline-large-paragraph-spacing: 6px;
  --typography-headline-large-text-case: none;
  --typography-headline-medium-font-size: 28px;
  --typography-headline-medium-text-decoration: none;
  --typography-headline-medium-font-family: Urbanist;
  --typography-headline-medium-font-weight: 500;
  --typography-headline-medium-font-style: normal;
  --typography-headline-medium-font-stretch: normal;
  --typography-headline-medium-letter-spacing: 0.56px;
  --typography-headline-medium-line-height: 42px;
  --typography-headline-medium-paragraph-indent: 0;
  --typography-headline-medium-paragraph-spacing: 6px;
  --typography-headline-medium-text-case: none;
  --typography-headline-small-font-size: 18px;
  --typography-headline-small-text-decoration: none;
  --typography-headline-small-font-family: Urbanist;
  --typography-headline-small-font-weight: 500;
  --typography-headline-small-font-style: normal;
  --typography-headline-small-font-stretch: normal;
  --typography-headline-small-letter-spacing: 0.36px;
  --typography-headline-small-line-height: 27px;
  --typography-headline-small-paragraph-indent: 0;
  --typography-headline-small-paragraph-spacing: 6px;
  --typography-headline-small-text-case: none;
  --typography-title-large-font-size: 24px;
  --typography-title-large-text-decoration: none;
  --typography-title-large-font-family: Urbanist;
  --typography-title-large-font-weight: 500;
  --typography-title-large-font-style: normal;
  --typography-title-large-font-stretch: normal;
  --typography-title-large-letter-spacing: 0.48px;
  --typography-title-large-line-height: 28.8px;
  --typography-title-large-paragraph-indent: 0;
  --typography-title-large-paragraph-spacing: 6px;
  --typography-title-large-text-case: none;
  --typography-title-medium-font-size: 18px;
  --typography-title-medium-text-decoration: none;
  --typography-title-medium-font-family: Urbanist;
  --typography-title-medium-font-weight: 500;
  --typography-title-medium-font-style: normal;
  --typography-title-medium-font-stretch: normal;
  --typography-title-medium-letter-spacing: 0.36px;
  --typography-title-medium-line-height: 21.6px;
  --typography-title-medium-paragraph-indent: 0;
  --typography-title-medium-paragraph-spacing: 6px;
  --typography-title-medium-text-case: none;
  --typography-title-small-font-size: 16px;
  --typography-title-small-text-decoration: none;
  --typography-title-small-font-family: Urbanist;
  --typography-title-small-font-weight: 500;
  --typography-title-small-font-style: normal;
  --typography-title-small-font-stretch: normal;
  --typography-title-small-letter-spacing: 0.32px;
  --typography-title-small-line-height: 19.2px;
  --typography-title-small-paragraph-indent: 0;
  --typography-title-small-paragraph-spacing: 6px;
  --typography-title-small-text-case: none;
  --typography-label-large-font-size: 18px;
  --typography-label-large-text-decoration: none;
  --typography-label-large-font-family: Urbanist;
  --typography-label-large-font-weight: 500;
  --typography-label-large-font-style: normal;
  --typography-label-large-font-stretch: normal;
  --typography-label-large-letter-spacing: 0.36px;
  --typography-label-large-line-height: 21.6px;
  --typography-label-large-paragraph-indent: 0;
  --typography-label-large-paragraph-spacing: 6px;
  --typography-label-large-text-case: none;
  --typography-label-medium-font-size: 16px;
  --typography-label-medium-text-decoration: none;
  --typography-label-medium-font-family: Urbanist;
  --typography-label-medium-font-weight: 500;
  --typography-label-medium-font-style: normal;
  --typography-label-medium-font-stretch: normal;
  --typography-label-medium-letter-spacing: 0.32px;
  --typography-label-medium-line-height: 19.2px;
  --typography-label-medium-paragraph-indent: 0;
  --typography-label-medium-paragraph-spacing: 6px;
  --typography-label-medium-text-case: none;
  --typography-label-small-font-size: 12px;
  --typography-label-small-text-decoration: none;
  --typography-label-small-font-family: Urbanist;
  --typography-label-small-font-weight: 500;
  --typography-label-small-font-style: normal;
  --typography-label-small-font-stretch: normal;
  --typography-label-small-letter-spacing: 0.24px;
  --typography-label-small-line-height: 14.4px;
  --typography-label-small-paragraph-indent: 0;
  --typography-label-small-paragraph-spacing: 6px;
  --typography-label-small-text-case: none;
  --typography-body-large-font-size: 16px;
  --typography-body-large-text-decoration: none;
  --typography-body-large-font-family: Urbanist;
  --typography-body-large-font-weight: 400;
  --typography-body-large-font-style: normal;
  --typography-body-large-font-stretch: normal;
  --typography-body-large-letter-spacing: 0.32px;
  --typography-body-large-line-height: 24px;
  --typography-body-large-paragraph-indent: 0;
  --typography-body-large-paragraph-spacing: 6px;
  --typography-body-large-text-case: none;
  --typography-body-medium-font-size: 14px;
  --typography-body-medium-text-decoration: none;
  --typography-body-medium-font-family: Urbanist;
  --typography-body-medium-font-weight: 400;
  --typography-body-medium-font-style: normal;
  --typography-body-medium-font-stretch: normal;
  --typography-body-medium-letter-spacing: 0.28px;
  --typography-body-medium-line-height: 21px;
  --typography-body-medium-paragraph-indent: 0;
  --typography-body-medium-paragraph-spacing: 6px;
  --typography-body-medium-text-case: none;
  --typography-body-small-font-size: 12px;
  --typography-body-small-text-decoration: none;
  --typography-body-small-font-family: Urbanist;
  --typography-body-small-font-weight: 400;
  --typography-body-small-font-style: normal;
  --typography-body-small-font-stretch: normal;
  --typography-body-small-letter-spacing: 0.24px;
  --typography-body-small-line-height: 18px;
  --typography-body-small-paragraph-indent: 0;
  --typography-body-small-paragraph-spacing: 6px;
  --typography-body-small-text-case: none;

  /* Color Roles (Light) */
  --color-role-light-primary: hsl(256, 88%, 64%);
  --color-role-light-on-primary: hsl(0, 0%, 100%);
  --color-role-light-primary-container: hsl(255, 100%, 87%);
  --color-role-light-on-primary-container: hsl(261, 84%, 42%);
  --color-role-light-secondary: hsl(258, 47%, 51%);
  --color-role-light-on-secondary: hsl(0, 0%, 100%);
  --color-role-light-secondary-container: hsl(258, 100%, 87%);
  --color-role-light-on-secondary-container: hsl(260, 58%, 41%);
  --color-role-light-tertiary: hsl(324, 99%, 36%);
  --color-role-light-on-tertiary: hsl(0, 0%, 100%);
  --color-role-light-tertiary-container: hsl(337, 100%, 85%);
  --color-role-light-on-tertiary-container: hsl(324, 100%, 27%);
  --color-role-light-error: {color.palette.error.40};
  --color-role-light-on-error: {color.palette.error.100};
  --color-role-light-error-container: {color.palette.error.80};
  --color-role-light-on-error-container: {color.palette.error.30};
  --color-role-light-background: hsl(0, 20%, 98%);
  --color-role-light-on-background: hsl(180, 2%, 11%);
  --color-role-light-surface: hsl(0, 20%, 98%);
  --color-role-light-on-surface: hsl(180, 2%, 11%);
  --color-role-light-surface-variant: hsl(0, 0%, 89%);
  --color-role-light-on-surface-variant: hsl(180, 1%, 27%);
  --color-role-light-outline: hsl(180, 0%, 46%);
  --color-role-light-outline-variant: hsl(0, 0%, 78%);
  --color-role-light-inverse-surface: hsl(240, 1%, 19%);
  --color-role-light-inverse-on-surface: hsl(0, 7%, 95%);
  --color-role-light-inverse-primary: hsl(255, 100%, 87%);
  --color-role-light-surface-dim: hsl(30, 3%, 85%);
  --color-role-light-surface-bright: hsl(0, 20%, 98%);
  --color-role-light-surface-container-lowest: hsl(0, 0%, 100%);
  --color-role-light-surface-container-low: hsl(0, 9%, 96%);
  --color-role-light-surface-container: hsl(0, 6%, 93%);
  --color-role-light-surface-container-high: hsl(30, 4%, 91%);
  --color-role-light-surface-container-highest: hsl(0, 2%, 89%);
}

[data-theme="dark"] {
  /* Color Roles (Dark) */
  --color-role-light-primary: hsl(256, 88%, 64%);
  --color-role-light-on-primary: hsl(263, 100%, 29%);
  --color-role-light-primary-container: hsl(261, 84%, 42%);
  --color-role-light-on-primary-container: hsl(259, 100%, 93%);
  --color-role-light-secondary: hsl(258, 100%, 87%);
  --color-role-light-on-secondary: hsl(264, 92%, 29%);
  --color-role-light-secondary-container: hsl(260, 58%, 41%);
  --color-role-light-on-secondary-container: hsl(261, 100%, 93%);
  --color-role-light-tertiary: hsl(337, 100%, 85%);
  --color-role-light-on-tertiary: hsl(325, 100%, 20%);
  --color-role-light-tertiary-container: hsl(324, 100%, 27%);
  --color-role-light-on-tertiary-container: hsl(341, 100%, 93%);
  --color-role-light-error: {color.palette.error.80};
  --color-role-light-on-error: {color.palette.error.20};
  --color-role-light-error-container: {color.palette.error.30};
  --color-role-light-on-error-container: {color.palette.error.90};
  --color-role-light-background: {color.palette.neutral.6};
  --color-role-light-on-background: hsl(0, 2%, 89%);
  --color-role-light-surface: {color.palette.neutral.6};
  --color-role-light-on-surface: hsl(0, 2%, 89%);
  --color-role-light-surface-variant: hsl(180, 1%, 27%);
  --color-role-light-on-surface-variant: hsl(0, 0%, 78%);
  --color-role-light-outline: hsl(180, 0%, 57%);
  --color-role-light-outline-variant: hsl(180, 1%, 27%);
  --color-role-light-inverse-surface: hsl(0, 2%, 89%);
  --color-role-light-inverse-on-surface: hsl(240, 1%, 19%);
  --color-role-light-inverse-primary: hsl(257, 71%, 55%);
  --color-role-light-surface-dim: {color.palette.neutral.6};
  --color-role-light-surface-bright: {color.palette.neutral.24};
  --color-role-light-surface-container-lowest: {color.palette.neutral.4};
  --color-role-light-surface-container-low: hsl(180, 2%, 11%);
  --color-role-light-surface-container: {color.palette.neutral.12};
  --color-role-light-surface-container-high: {color.palette.neutral.17};
  --color-role-light-surface-container-highest: {color.palette.neutral.22};
}